@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a asp-area="" asp-controller="Home" asp-action="SendEmail1">SendEmail1</a>
<a asp-area="" asp-controller="Home" asp-action="SendEmail2">SendEmail2</a>
<a asp-area="" asp-controller="Home" asp-action="SendEmail3">SendEmail3</a>
